@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Action"] = Localizer["Action"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="section-title">@ViewData["Title"]</h2>

<div class="card">

    <div class="card-body">
        <p>
            @Localizer["Content"]
        </p>
    </div>
</div>

<div class="card">

    <div class="card-body">
        <p>
            @Localizer["Partners"]
        </p>
    </div>
</div>